<table class="spells" id="red" cellpadding="0" cellspacing="0">
        <tr>
            <td>The Cauldron</td>
            <td>Spellhammer</td>
            <td>Dagda's Club</td>
            <td>Dagda's Harp</td>
            <td>Mist</td>
            <td>Shield</td>
            <td>Shape Shift</td>
            <td>Possession</td>
            <td>Flight</td>
        </tr>
</table>
