<h1>Usage notes</h1>

<div id="usage"><ul>
<li>Currently, the Mist, Shield and Spellhammer spells are unavailable.  Spellhammer can be collected for the purposes of getting the Seannaiche onto the second level of the hill, however.</li>
<li>Due to some problems with the cauldron square, it is currently implemented as an extra square on the left-hand column.  To move a piece into the cauldron, you must drag a piece into this area.</li>
<li>Selecting a colour (option on the left-hand column) is optional, but allows you to be identified by your registered name in messages</li>
<li>The "Game Information" area displays output from the game engine.  If you see "Illegal Move" followed by three numbers, one player has tried to make a move not recognised as legal by the engine.  The first number corresponds to the type of move (0 is a normal piece move, other numbers are spells or promotions), and the next two numbers are coordinates (from the top-left corner, not in agreement with the coordinates displayed beside the board)</li>
</ul></div>
